.zzz{
    position: absolute;
    width: 1365px;
    height: 112px;
    left: 0px;
    top: 0px;
    
    background: #545454;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    }
    .xxx{
        position: absolute;
    width: 194px;
    height: 74px;
    left: 40px;
    top: 19px;
    
    background: #C4C4C4;
    border-radius: 40px;
    }
    .ccc{
        position: absolute;
    width: 158px;
    height: 55px;
    left: 58px;
    top: 28px;
    
    font-family: Changa;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 55px;
    text-align: center;
    
    color: #545454;
    
    }
    .vvv{
        position: absolute;
    width: 165px;
    height: 55px;
    left: 849px;
    top: 28px;
    
    font-family: Changa;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 55px;
    text-align: center;
    
    color: #FFFFFF;
    }
    .bbb{
        position: absolute;
    width: 42px;
    height: 0px;
    left: 839px;
    top: 55px;
    
    border: 1px solid #FFFFFF;
    transform: rotate(90deg);
    }
    .nnn{
        position: absolute;
    width: 145px;
    height: 55px;
    left: 710px;
    top: 28px;
    
    font-family: Changa;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 55px;
    text-align: center;
    
    color: #FFFFFF;
    
    }
    .mmm{
        position: absolute;
    width: 42px;
    height: 0px;
    left: 674px;
    top: 55px;
    
    border: 1px solid #FFFFFF;
    transform: rotate(90deg);
    }
    .qqq{
        position: absolute;
    width: 399px;
    height: 55px;
    left: 330px;
    top: 28px;
    
    font-family: Changa;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 55px;
    text-align: center;
    
    color: #FFFFFF;
    
    }
    .pic1{
        left: -5;
    }
    .pic2{
        left: -5;
    }
    .www{
        position: absolute;
    width: 699.08px;
    height: 60.09px;
    left: 369px;
    top: 190px;
    
    background: #C4C4C4;
    border-radius: 40px;
    position: absolute;
    width: 566.15px;
    height: 44.66px;
    left: 435.46px;
    top: 200px;
    
    font-family: Changa;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 55px;
    text-align: center;
    
    color: #545454;
    }
    .eee{
        position: absolute;
        width: 353px;
        height: 74px;
        left: 913px;
        top: 310px;
        
        font-family: Changa;
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 74px;
        /* identical to box height */
        
        text-align: right;
        
        color: #000;
    }
    .rrr{
        position: absolute;
    width: 463px;
    height: 75px;
    left: 803px;
    top: 405px;
    
    font-family: Changa;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 74px;
    text-align: right;
    
    color: #000;
    }
    .ttt{
        position: absolute;
    width: 419px;
    height: 74px;
    left: 847px;
    top: 550px;
    
    font-family: Changa;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 74px;
    /* identical to box height */
    
    text-align: right;
    
    color: #000;
    }
    .yyy{
        position: absolute;
    width: 291px;
    height: 74px;
    left: 975px;
    top: 680px;
    
    font-family: Changa;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 74px;
    /* identical to box height */
    
    text-align: right;
    
    color: #000;
    
    }
    .uuu{
        position: absolute;
    width: 158px;
    height: 37px;
    left: 612px;
    top: 840px;
    
    font-family: Changa;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 37px;
    /* identical to box height */
    
    text-align: center;
    
    color: #000;
    }
    .ee1{
        position: absolute;
    width: 268px;
    height: 50px;
    left: 532px;
    top: 320px;
    
    background: rgba(196, 196, 196, 0.8);
    border-radius: 20px;
    
    position: absolute;
    width: 214px;
    height: 64px;
    left: 559px;
    top: 320px;
    
    font-family: Changa;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 64px;
    text-align: center;
    
    color: #545454;
    }
    .rr1{
        position: absolute;
    width: 268px;
    height: 50px;
    left: 530px;
    top: 490px;
    
    background: rgba(196, 196, 196, 0.8);
    border-radius: 20px;
    
    position: absolute;
    width: 229px;
    height: 64px;
    left: 549px;
    top: 490px;
    
    font-family: Changa;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 64px;
    text-align: center;
    
    color: #545454;
    }
    .rr2{position: absolute;
        width: 268px;
        height: 50px;
        left: 530px;
        top: 420px;
        
        background: rgba(196, 196, 196, 0.8);
        border-radius: 20px;
        position: absolute;
    width: 229px;
    height: 64px;
    left: 549px;
    top: 420px;
    
    font-family: Changa;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 64px;
    text-align: center;
    
    color: #545454;
    }
    .tt1{
        position: absolute;
    width: 268px;
    height: 50px;
    left: 525px;
    top: 565px;
    
    background: rgba(196, 196, 196, 0.8);
    border-radius: 20px;
    position: absolute;
    width: 229px;
    height: 64px;
    left: 549px;
    top: 565px;
    
    font-family: Changa;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 64px;
    text-align: center;
    
    color: #545454;
    }
    .tt2{
        position: absolute;
    width: 301px;
    height: 50px;
    left: 492px;
    top: 635px;
    
    background: rgba(196, 196, 196, 0.8);
    border-radius: 20px;
    position: absolute;
    width: 229px;
    height: 64px;
    left: 549px;
    top: 635px;
    
    font-family: Changa;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 64px;
    text-align: center;
    
    color: #545454;
    }
    .yy1{
        position: absolute;
    width: 268px;
    height: 50px;
    left: 530px;
    top: 703px;
    
    background: rgba(196, 196, 196, 0.8);
    border-radius: 20px;
    position: absolute;
    width: 229px;
    height: 64px;
    left: 549px;
    top: 703px;
    
    font-family: Changa;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 64px;
    text-align: center;
    
    color: #545454;
    }
    .yy2{
        position: absolute;
    width: 356px;
    height: 50px;
    left: 442px;
    top: 773px;
    
    background: rgba(196, 196, 196, 0.8);
    border-radius: 20px;
    position: absolute;
    width: 229px;
    height: 64px;
    left: 549px;
    top: 773px;
    
    font-family: Changa;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 64px;
    text-align: center;
    
    color: #545454;
    }
    .iii{
        position: absolute;
    width: 188px;
    height: 55px;
    left: 1172px;
    top: 28px;
    
    font-family: Changa;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 55px;
    text-align: center;
    
    color: #FFFFFF;
    }